ul.menu {
    display: inline;
    list-style: none;
}
ul.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.menu__item {
    float: left;
    position: relative;
}

.menu__button {
    display: block;
    padding: 11px;
    color: black;
    background-color: #c6e7ff;
    text-decoration: none;
}
.menu__button:hover {
    background-color: #91e9ff;
}

.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 30%;
    list-style: none;
}
.submenu .menu__button {
    width: 110%;
    white-space: nowrap;
}

.menu__item:hover .submenu {
    display: block;
}